cfg_backups/
Code/
dconf/
gh/
gtk-3.0/
kde.org/
pulse/
qt5ct/
qt6ct/
ranger/
session/
systemd/
xsettingsd/
baloofileinformationrc
kdeglobals
knfsshare
mimeapps.list
usr-dirs.dirs
user-dirs.locale
Docker Desktop/
Kvantum/
dolphinrc
dunst/
hypr/
hyprdots/
lazygit/
nwg-look/
swaylock/
swww/
user-dirs.dirs
waybar/
wlogout/
Postman/
